.back{
    margin-top: 10%;
    background-color: #ffdab0;
}
.img2
{
    width: 150px;
    height : 100px;
    margin-left: 180px;
    margin-top: 2.5%;

}
.l1
{
    color: #dc143c;
    background-color: #dc143c;
    width: 100%;
    height: 10%;
    padding-bottom: 10px;
    text-align: center;
}

.img{
    width: 100px;
    height: 100px;
}
.extra{
    background-color: darkblue;
    height: 40px;
}
.face{
   
        background: #3B5998;
        color: white;
      
}
.icon{
    padding: 20px;
  font-size: 22px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.h1{
    font-family: "arial black";
    font-size: 20px;
    color: black;
}